.box {
  width: 220px;
  padding: 20px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: 10px 5px 5px rgba(221, 221, 221, 1);
}

.img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 40px;
}
